.main
{height: 800px;
width: 800px;
background-color: orange;
margin:0px auto;
border: 2px;
border-color: red;
border-style: double;

}

.inpB
{background-color: black;
height: 100px;
width: 100px;
float: left;
color: white;
font-size: 80px;
text-align: center;
}

.inpW
{background-color: white;
height: 100px;
width: 100px;
float: left;
color: black;
font-size: 80px;
text-align: center;
}